<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
  <!--
    this is used for boot-strapping build tools.  if you need to add a new
    nuget package source please add it to the item group in dir.props instead.
  -->
  <config>
    <add key="repositoryPath" value="..\packages" />
  </config>
  <packageSources>
    <add key="dotnet.myget.org dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" protocolVersion="3" />
    <add key="dotnet.myget.org dotnet-buildtools" value="https://dotnet.myget.org/F/dotnet-buildtools/" />
    <add key="dotnet.myget.org dotnet-corefxlab" value="https://dotnet.myget.org/F/dotnet-corefxlab/" />    
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="dotnet.myget.org dotnet-cli" value="https://dotnet.myget.org/F/dotnet-cli/" />
    <add key="coreclr-xunit" value="https://www.myget.org/F/coreclr-xunit/api/v2" />
    <add key="AspNetCIDev" value="https://www.myget.org/F/aspnetcidev/api/v3/index.json" />
    <add key="nugetbuild" value="https://www.myget.org/F/nugetbuild/api/v3/index.json" />
  </packageSources>
</configuration>