<RuleSet Name="Tests ruleset" Description="All Rules are disabled." ToolsVersion="15.0">
  <Rules AnalyzerId="xunit.analyzers" RuleNamespace="xunit.analyzers">
    <Rule Id="xUnit1008" Action="None" />             <!-- Test data attribute should only be used on a Theory -->
    <Rule Id="xUnit1010" Action="None" />             <!-- The value is not convertible to the method parameter type -->
    <Rule Id="xUnit1012" Action="None" />             <!-- Null should not be used for value type parameters -->
    <Rule Id="xUnit1013" Action="None" />             <!-- Public method should be marked as test -->
    <Rule Id="xUnit1014" Action="None" />             <!-- MemberData should use nameof operator for member name -->
    <Rule Id="xUnit1019" Action="None" />             <!-- MemberData must reference a member providing a valid data type -->
    <Rule Id="xUnit1024" Action="None" />             <!-- Test methods cannot have overloads -->
    <Rule Id="xUnit1025" Action="None" />             <!-- InlineData should be unique within the Theory it belongs to -->
    <Rule Id="xUnit1026" Action="None" />             <!-- Theory methods should use all of their parameters -->
    <Rule Id="xUnit2000" Action="None" />             <!-- Constants and literals should be the expected argument -->
    <Rule Id="xUnit2002" Action="None" />             <!-- Do not use null check on value type -->
    <Rule Id="xUnit2003" Action="None" />             <!-- Do not use equality check to test for null value -->
    <Rule Id="xUnit2004" Action="None" />             <!-- Do not use equality check to test for boolean conditions -->
    <Rule Id="xUnit2005" Action="None" />             <!-- Do not use identity check on value type -->
    <Rule Id="xUnit2012" Action="None" />             <!-- Do not use Enumerable.Any() to check if a value exists in a collection -->
    <Rule Id="xUnit2013" Action="None" />             <!-- Do not use equality check to check for collection size -->
    <Rule Id="xUnit2015" Action="None" />             <!-- Do not use typeof expression to check the exception type -->
    <Rule Id="xUnit2017" Action="None" />             <!-- Do not use Contains() to check if a value exists in a collection -->
  </Rules>
</RuleSet>