<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Buffers" version="4.0.1-beta-24224-02" targetFramework="net45" />
  <package id="System.Buffers.Experimental" version="0.1.0-e160624-1" targetFramework="net45" />
  <package id="System.Diagnostics.Debug" version="4.0.12-beta-24224-02" targetFramework="net45" />
  <package id="System.Runtime" version="4.1.1-beta-24224-02" targetFramework="net45" />
  <package id="System.Runtime.Extensions" version="4.1.1-beta-24224-02" targetFramework="net45" />
  <package id="System.Runtime.InteropServices" version="4.2.0-beta-24224-02" targetFramework="net45" />
  <package id="System.Slices" version="0.1.0-e160624-1" targetFramework="net45" />
  <package id="System.Text.Formatting" version="0.1.0-e160624-1" targetFramework="net45" />
  <package id="System.Text.Http" version="0.1.0-e160624-1" targetFramework="net45" />
  <package id="System.Text.Json" version="0.1.0-e160624-1" targetFramework="net45" />
  <package id="System.Text.Primitives" version="0.1.0-e160624-1" targetFramework="net45" />
  <package id="System.Text.Utf8" version="0.1.0-e160624-1" targetFramework="net45" />
  <package id="System.Threading" version="4.0.12-beta-24224-02" targetFramework="net45" />
  <package id="System.Threading.Tasks.Extensions" version="4.0.1-beta-24224-02" targetFramework="net45" />
</packages>