<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Buffers" version="0.1.0-*" targetFramework="net45" />
  <package id="System.Slices" version="0.1.0-*" targetFramework="net45" />
  <package id="System.Text.Formatting" version="0.1.0-*" targetFramework="net45" />
  <package id="System.Text.Utf8" version="0.1.0-*" targetFramework="net45" />
</packages>