<?xml version = "1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key = "netcore-prototype" value="https://www.myget.org/F/netcore-package-prototyping"/>
        <add key = "nuget.org" value = "https://api.nuget.org/v3/index.json" protocolVersion = "3"/>
        <add key = "nuget.org" value = "https://www.nuget.org/api/v2/"/>
        <add key = "dotnet" value = "https://www.myget.org/F/dotnet-core/"/>
    </packageSources>
</configuration>
